<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  {{#block "head"}}
  <meta http-equiv="Content-type" content="text/html; charset=UTF8" />
  <title>VHSAPI</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Grab jQuery and timeago from cloudflare CDN. fall back to local if necessary -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
    type="text/javascript"></script>
  <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery
      && document.write('<script type="text/javascript" src="/javascripts/jquery.min.js"><\/script>')
      && document.write('<script type="text/javascript" src="/javascripts/jquery.timeago.min.js"><\/script>')
/* ]]> */</script>
  {{/block}}
</head>

<body>
  {{#block "body"}}
  <div class="container">
    <div class="row">
      <div class="span6">
        <h1><a href="/">Hackspace API</a></h1>
        <p class="lead">An API about your local hackerspace.</p>
      </div>
    </div>
  </div>
  {{/block}}
  <footer class="footer">
    {{#block "footer"}}
    <div class="container">
      Created by the <a href="https://vanhack.ca">Vancouver Hack Space</a>. The code is <a
        href="https://github.com/vhs/api">up on Github</a>!
    </div>
    {{/block}}
  </footer>
</body>
<script>
  $(document).ready(function () {
    jQuery(".timeago").timeago();
  });
</script>

</html>