<div class="row">
  <h1>Hackspace.ca API</h1>
  [% IF datapoint %]
    <h2>[% space.title %] - [% datapoint.name %]<h2>
    <div class="well">
      <h3>Current value: [% datapoint.value %]</h3>
      <p class="lead">You can also fetch this value as <a href="[%datapoint.uri %].json">JSON</a> or <a href="[% datapoint.uri %].txt">text</a>.</p>
    </div>
  [% ELSE %]
    <div class="alert-warning">
      <p class="lead">Sorry, couldn't find that datapoint!</p>
    </div>
  [% END %]
</div>
